<?xml version="1.0" encoding="UTF-8"?>
<!--DOCTYPE module PUBLIC "-//OpenMRS//DTD OpenMRS Config 1.0//EN" "http://resources.openmrs.org/doctype/config-1.0.dtd"-->

<module configVersion="1.0">

    <!-- Base Module Properties -->
    <id>groovy</id>
    <name>Groovy</name>
    <version>2.0</version>
    <!-- 2.0 Groovy 1.6.3, added line numbers; syntax highlighting; made the text area bigger,
              minor refactoring; save/loading for scripts -->
    <!-- 1.2 Groovy 1.5.4, added patientSet, displays "Running..." while running -->
    <!-- 1.1 filled out services -->
    <!-- 1.0 initial version -->
    <package>org.openmrs.module.@MODULE_ID@</package>
    <author>Burke Mamlin</author>
    <description>
        Embedded
        <a href="http://groovy.codehaus.org/">Groovy</a>
        module. Proof
        of concept and aiming to be a foundation or example for further modules
        that would like to use Groovy.
    </description>

    <activator>@MODULE_PACKAGE@.GroovyActivator</activator>

    <!-- <updateURL>https://dev.openmrs.org/modules/download/@MODULE_ID@/update.rdf</updateURL> -->
    <!-- /Base Module Properties -->

    <require_version>1.2.0.3400</require_version>

    <!-- Extensions -->
    <extension>
        <point>org.openmrs.admin.list</point>
        <class>@MODULE_PACKAGE@.extension.html.AdminList</class>
    </extension>
    <!--  --> /Extensions -->


    <!-- AOP
     <advice>
         <point>org.openmrs.api.FormService</point>
         <class>@MODULE_PACKAGE@.advice.DuplicateFormAdvisor</class>
     </advice>
      /AOP -->


    <!-- Required Privileges -->
    <privilege>
        <name>Run Groovy Scripts</name>
        <description>Allows user to execute Groovy scripts</description>
    </privilege>
    <!-- /Required Privileges -->


    <!-- Required Global Properties
     <globalProperty>
         <property>@MODULE_ID@.someProperty</property>
         <defaultValue></defaultValue>
         <description>
             A description of the global property goes here.  The description
             should explain enough for administrators to understand the purpose
             and possible values for the global property.
         </description>
     </globalProperty>
     /Required Global Properties -->

    <dwr>
        <allow>
            <create creator="new" javascript="DWRGroovyService">
                <param name="class" value="org.openmrs.module.@MODULE_ID@.web.dwr.DWRGroovyService"/>
                <include method="eval"/>
            </create>
            <convert match="java.lang.StackTraceElement" converter="bean"/>            
        </allow>

        <signatures>
            <![CDATA[
			import @MODULE_PACKAGE@.web.dwr.DWRGroovyService;
			DWRGroovyService.eval(String script);
			]]>
        </signatures>
    </dwr>

    <!-- Servlets -->
    <!-- Accessed through the url /pageContext()/moduleServlet/<moduleId>/<servlet-name>
     <servlet>
         <servlet-name>formDownload</servlet-name>
         <servlet-class>@MODULE_PACKAGE@.web.FormDownloadServlet</servlet-class>
     </servlet>
     -->
    <!-- /Servlets -->


    <!-- Internationalization -->
    <!-- All message codes should start with @MODULE_ID@.* -->
    <messages>
        <lang>en</lang>
        <file>messages.properties</file>
    </messages>
    <!-- /Internationalization -->

    <mappingFiles>
        GroovyScript.hbm.xml
    </mappingFiles>
</module>

