<?xml version="1.0" encoding="UTF-8"?>
<!--

    This Source Code Form is subject to the terms of the Mozilla Public License,
    v. 2.0. If a copy of the MPL was not distributed with this file, You can
    obtain one at http://mozilla.org/MPL/2.0/. OpenMRS is also distributed under
    the terms of the Healthcare Disclaimer located at http://openmrs.org/license.

    Copyright (C) OpenMRS Inc. OpenMRS is a registered trademark and the OpenMRS
    graphic logo is a trademark of OpenMRS Inc.

-->
<module configVersion="1.2">

	<id>groovy</id>
	<name>Groovy</name>
    <version>${project.parent.version}</version>
	<package>${project.parent.groupId}.${project.parent.artifactId}</package>
	<author>Burke Mamlin</author>
	<description>
		Embedded <a href="http://groovy.codehaus.org/">Groovy</a> module. A foundation or example for other Groovy modules.
	</description>
	<updateURL>https://modules.openmrs.org/modules/download/${project.parent.artifactId}/update.rdf</updateURL>
	<require_version>1.9.0</require_version>

    <require_modules>
        <require_module>org.openmrs.module.legacyui</require_module>
    </require_modules>


	<activator>${project.parent.groupId}.${project.parent.artifactId}.GroovyModuleActivator</activator>

    <extension>
        <point>org.openmrs.admin.list</point>
        <class>@MODULE_PACKAGE@.web.extension.html.AdminList</class>
    </extension>

    <privilege>
        <name>Run Groovy Scripts</name>
        <description>Allows user to execute Groovy scripts.</description>
    </privilege>

    <privilege>
        <name>List Groovy Scripts</name>
        <description>Allows user to view Groovy scripts which are saved.</description>
    </privilege>

    <dwr>
        <allow>
            <create creator="new" javascript="DWRGroovyService">
                <param name="class" value="org.openmrs.module.groovy.web.dwr.DWRGroovyService"/>
                <!-- <param name="class" value="org.openmrs.module.@MODULE_ID@.web.dwr.DWRGroovyService"/> -->
                <include method="eval"/>
            </create>
            <convert match="java.lang.StackTraceElement" converter="bean"/>
            <convert match="org.openmrs.module.groovy.GroovyScript" converter="bean"/>
        </allow>

        <signatures>
            <![CDATA[
			import org.openmrs.module.groovy.web.dwr.DWRGroovyService;
			DWRGroovyService.eval(String script);
			]]>
        </signatures>
    </dwr>

	<mappingFiles>
		GroovyScript.hbm.xml
	</mappingFiles>

	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>

</module>

